body {
  background-color: rgb(156, 78, 22, 0.7);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: antiquewhite;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  user-select:none;
}
h1 {
  font-size: 20px;
  letter-spacing: 20px;
  color: antiquewhite;
  text-align: right;
  position: relative;
  top: 10px;
}

a {
  display:hidden;
  color:rgb(156, 78, 22, 0.8);
  text-decoration: none;
}

.entrytop {
  background-color:rgb(156, 78, 22, 0.6);
  position:fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 50px;
  z-index: 2;
}

.menu {
  background-color: rgba(250, 235, 215, 0.7);
  left: 40px;
  position: fixed;
  top: 16px;
  width: 10%;
  z-index: 2;
  max-height:20px;
  min-width: 88px;
}
.menu p {
  font-size: 15px;
  color: rgb(156, 78, 22, 0.8);
  font-weight: 400;
  text-align: center;
  line-height: 15px;
  margin: auto;
  background-color: rgba(250, 235, 215, 0.7);
  border-style:double;
  border-color: rgb(156, 78, 22);
  border-width: 5px;
  padding: 5px;
  letter-spacing: 0px;
}

.spotify-container {
display: flex;
justify-content: right;
align-items: right;
height: 100px;
opacity: 80%;
width: 100%;
autoplay: auto;

}
body {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center center;
}
.material-icons {
  position:fixed;
  top: 13px;
  color:antiquewhite;
  left: 10px;
}
summary {
  color:rgb(156, 78, 22);
}

.image-container {
  display: grid;
  grid-template-columns: (5,1fr);
  grid-template-rows: (7, 1fr);
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
img.active {
  opacity:1;
}
h2,
p {
position:absolute;
transition: translate(-50%, -50%);
color:antiquewhite;
text-align: center;
z-index: 100000;
white-space: nowrap;
overflow: hidden;
}

h2 {
  font-size: 15vw;
  text-shadow: rgb(156, 78, 22) 10px 10px 15px;
  top: 10vh;
  left: 5vh;
}

p{
  position:absolute;
  top: 70vh;
  right: 5vh;
  color:rgb(156, 78, 22);
  background-color: rgba(250, 235, 215, 0.7);
  width: 50%;
  animation: typing 4s steps(30, end);
  height: 23vh;
  font-size: 2vw;
  margin: 10 auto;
  padding: 15px auto;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}